---
title: 'Junk Removal, Moving & Same Day Labor'
description: 'Detroit Metro junk removal, moving help, cleanouts, snow removal, painting and yard work. Starting at $35/hr. Same day available. Call or text 248.818.1130 for a free quote.'
preloadImg: '/assets/images/hero-movers.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />


{% endblock %}

{% block body %}

{% include 'components/hero.html' %}
{% include 'components/trust-bar.html' %}
{% include 'components/2.html' %}
{% include 'components/before-after.html' %}
{% include 'components/quote-steps.html' %}
{% include 'components/3.html' %}
{% include 'components/faq.html' %}
{% include 'components/service-area.html' %}
{% include 'components/cta-banner.html' %}

{% endblock %}
